@font-face {
   font-family: "Montserrat Thin ExtraBold";
   src: url("fonts/Montserrat SemiBold.woff2") format("woff2");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Montserrat Thin ExtraBold";
   src: url("fonts/Montserrat SemiBold Italic.woff2") format("woff2");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Montserrat";
   src: url("fonts/Montserrat Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Barlow Semi Condensed SemiBold";
   src: url("fonts/Barlow Semi Condensed SemiBold.woff2") format("woff2");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Barlow Semi Condensed Medium";
   src: url("fonts/Barlow Semi Condensed Medium.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "SVN-Gilroy Light";
   src: url("fonts/SVN-GilroyLightItalic.woff2") format("woff2");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Be Vietnam Pro SemiBold";
   src: url("fonts/Be Vietnam Pro SemiBold Italic.woff2") format("woff2");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Be Vietnam Pro SemiBold";
   src: url("fonts/Be Vietnam Pro SemiBold.woff2") format("woff2");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Be Vietnam Pro Medium";
   src: url("fonts/Be Vietnam Pro Medium.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Be Vietnam Pro Medium";
   src: url("fonts/Be Vietnam Pro Medium Italic.woff2") format("woff2");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Barlow Semi Condensed Light";
   src: url("fonts/Barlow Semi Condensed Light.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "SVN-Gilroy";
   src: url("fonts/SVN-GilroyBold.woff2") format("woff2");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "SVN-Gilroy";
   src: url("fonts/SVN-GilroyItalic.woff2") format("woff2");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "SVN-Gilroy";
   src: url("fonts/SVN-Gilroy.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "SVN-Gilroy";
   src: url("fonts/SVN-GilroyBoldItalic.woff2") format("woff2");
   font-weight: bold;
   font-style: italic;
}